.carousel {
    overflow: hidden;
    margin-top: 100px;
  }

.carousel-header {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    color: white;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    color: #fff;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
  }
  
  .indicators > button {
    margin: 5px;
  }
  
  .indicators > button.active {
    background-color: #DA7060;
    color: #fff;
  }

  .button {
    color: white
  }

  